*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Header{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 50px;
}

.Header-Left{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.Header-Right ul{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.Body-1{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.Body-1-Left-Top{
    display: flex;
    font-size: 48px;
    color: white;
    width: 500px;
}

.Body-1-Left-Mid{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    height: 50px;
    padding-bottom: 30px;
}


.Body-1-Left-Bot button{
    display: flex;
    background-color: #3882f6;
    color: white;
}

.Body-1-Right img{
    display: flex;
    height: 300px;
    width: 500px;
}

.Button{
    display: flex;
    width: 75px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
}

.Body-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 750px;
}

.Body-2-Top{
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Body-2-Mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.Body-2-Mid img{
    width: 250px;
    height: 250px;
    border: #3882f6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Body-2-Mid div{
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
}

.Body-3{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.Body-3-Top{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}